// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~datatables/media/css/jquery.dataTables.css';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';


html, body{
	font-family: 'Roboto', sans-serif;
}
.title{
	text-align: center;
}
h1{
	font-size: 1.8rem;
	text-transform: uppercase;
}
a{
	color: #000;
	font-weight: bold;
}
a:hover{
	text-decoration: none;
}
.btn{
	border-radius: 0;
}
.navbar-brand img{
	max-height: 80px;
}
.navbar-expand-md .navbar-nav .nav-link{
	font-weight: bold;
	font-size: 1rem;
}

.toolbar{
	color: #000;
	margin-bottom: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-top: 1rem;
}
.toolbar i, .toolbar a{
	font-size: 20px;
}
.toolbar a{
	background-color: $mainColor;
	color: #fff;
	border: 1px solid $mainColor;
	padding: .2rem .5rem;
	font-size: 16px;
	display: flex;
	align-items: center;
	margin-left: .5rem;
}
.form-group{
	display: flex;
	justify-content: center;
	align-items: center;
}
.form-control{
	border-radius: 0;
}
label{
	margin-bottom: 0;
}
.view-table{

	th{
		text-align: right;
		width: 30%;
	}
	td{
		width: 70%;
	}

}
.data-table-modal, .data-table-materials, .data-table-employees, .data-table-equipments{
	width: 100%!important;
}
#invoiceItems td.quantity input{
	width: 60px;
}

@media (min-width: 768px){

	.navbar-expand-md .navbar-nav .nav-link {
	    padding-right: 0.8rem;
	    padding-left: 0.8rem;
	}
	.modal-dialog{
		max-width: 90%;
	}

}